{% extends 'base.html.twig' %}

{% block title %}Order list{% endblock %}

{% block body %}

    <h1 class="text-center py-3">Orders list {{ current_date }}</h1>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Order #</th>
                <th>ID</th>
                <th>Phone</th>
                <th>Shipping status</th>
                <th>Shipping price</th>
                <th>Shipping payment status</th>
                <th>Payment status</th>
            </tr>
        </thead>
        <tbody>
        {% for order in order_list %}
            <tr>
                <td>{{ loop.index }}</td>
                <td><a href="{{ path('order', {'id': order.id}) }}">{{ order.orderId }}</a></td>
                <td>{{ order.phone }}</td>
                <td>{{ order.shippingStatus }}</td>
                <td>{{ order.shippingPrice }}</td>
                <td>{{ order.shippingPaymentStatus }}</td>
                <td>{{ order.paymentStatus }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}