{% extends 'base.html.twig' %}

{% block title %}Order info{% endblock %}

{% block body %}

    <h1 class="text-center py-3">Order #{{ order.orderId }} info</h1>

    <table class="table table-bordered table-hover">
        <tbody>
        <tr>
            <td>Order #</td>
            <td>{{ order.id }}</td>
        </tr>
        <tr>
            <td>ID</td>
            <td>{{ order.orderId }}</td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>{{ order.phone }}</td>
        </tr>
        <tr>
            <td>Shipping status</td>
            <td>{{ order.shippingStatus }}</td>
        </tr>
        <tr>
            <td>Shipping price</td>
            <td>{{ order.shippingPrice }}</td>
        </tr>
        <tr>
            <td>Shipping payment status</td>
            <td>{{ order.shippingPaymentStatus }}</td>
        </tr>
        <tr>
            <td>Payment status</td>
            <td>{{ order.paymentStatus }}</td>
        </tr>
        </tbody>
    </table>

    <h2 class="text-center py-1">Ordered product list</h2>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <td>#</td>
                <td>barcode</td>
                <td>price</td>
                <td>Cost</td>
                <td>Tax percent</td>
                <td>Tax amount</td>
                <td>Quantity</td>
                <td>Tracking number</td>
                <td>Cancelled</td>
                <td>Shipped status sku</td>
            </tr>
        </thead>
        <tbody>
        {% for op in order.getShopOrderProducts() %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ op.product.barcode }}</td>
                <td>{{ op.product.price }}</td>
                <td>{{ op.cost }}</td>
                <td>{{ op.taxPerc }}</td>
                <td>{{ op.taxAmt }}</td>
                <td>{{ op.quantity }}</td>
                <td>{{ op.trackingNumber }}</td>
                <td>{{ op.canceled }}</td>
                <td>{{ op.shippedStatusSku }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="text-center">
        <a href="{{ url('home') }}" class="btn btn-primary btn-lg">Back</a>
    </div>

{% endblock %}